html {
    background-color: black;
    font-size: 10px; 
}

h1 {
    font-size: 6rem;
    color: white;
    text-align: center;
}
 
#container {
    display: flex;
}

button {
    color: white;
    background-color: black;
    border-radius: 10px;    
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-size: 3rem;
    border: .5rem solid white;
    margin: 1rem;
    padding: 2rem 1rem; 
}

button:hover {
    border: .5rem solid yellow;
}
.flex-left {
    display: flex;
    align-items: center;
    
    width: 18rem;
    justify-content: space-between;
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
   
}

.flex-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 18rem;
    padding-top: 3rem;

}


.score-section{
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    
}

#scoreboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: .5rem solid white;
    color: white;
    height: 30rem;
    width: 20rem;
    font-size: 3rem;
    border-radius: 10px;
}
